*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --Alto: #dedede;
    --Concrete: #f2f2f2;
    --Dodger-Blue: #4387fd;
    --Grey: #808080;
    --Mercury: #e4e4e4;
    --None: transparent;
    --Royal-Blue: #3377ec;
    --Tundora: #404040;
    --White: #ffffff;
    --fs-regular: 14px;
    --fs-small: 12px;
    --fw-bold: 700;
    --fw-regular: 400;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    font-family: "Roboto", Helvetica, Arial sans-serif;
}

ul {
    justify-content: flex-end;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.main-nav {
    padding: 0 30px;
    margin: 15px 0;
}

.main-nav__list {
    align-items: center;
    display: flex;
}

.main-nav__list-item {
    font-size: var(--fs-regular);
}

.main-nav__link {
    align-items: center;
    display: flex;
    padding: 0 15px;
    color: var(--Tundora);
    text-decoration: none;
    outline: none;
}

.main-nav__link:focus {
    text-decoration: underline;
}

.button {
    padding: 7px 12px;
    margin: 0;
    color: var(--Tundora);
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
    background-color: var(--None);
    border: 1px solid var(--None);
    border-radius: 2px;
    cursor: pointer;
}

.button--primary {
    color: var(--White);
    background-color: var(--Dodger-Blue);
    border: 1px solid var(--Dodger-Blue);
    outline: none;
}

.button--secondary {
    color: var(--Tundora);
    font-weight: var(--fw-regular);
    background-color: var(--Concrete);
    border: 1px solid var(--Concrete);
}

.button--small {
    font-size: var(--fs-small);
}

.button--primary:focus {
    background-color: var(--Royal-Blue);
    border-color: var(--Royal-Blue);
}

.button--icon {
    padding: 3px 12px;
    outline: none;
}

.button--icon .icon {
    width: 22px;
    height: 22px;

    fill: var(--Tundora);
}

.button--icon:focus .icon {
    fill: var(--Gray);
}

.main-nav {
    padding: 0 30px;
}

.main-nav__list {
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.main-nav__list-item {
    font-size: var(--fs-regular);
}

.main-nav__link {
    align-items: center;
    display: flex;
    padding: 0 15px;
    color: var(--Tundora);
    text-decoration: none;
    outline: none;
}

.main-nav__link:focus {
    text-decoration: underline;
}

/* Cookie banner */
.cookie-banner {
    justify-content: space-between;
    display: none;
    padding: 4px 15px;
    margin: 0;
    color: var(--Grey);
    font-size: 12px;
    background-color: var(--Concrete);
    border-bottom: 1px solid var(--Mercury);
}

.cookie-banner.is-open {
    display: flex;
}

.cookie-banner a {
    color: var(--Malibu);
    text-decoration: none;
}

.cookie-banner__close {
    padding-bottom: 20px;
    color: var(--Grey);
    background: none;
    border: 0;
    cursor: pointer;
}

/* Search module */

.logo {
    padding-top: 110px;
    margin: 0 auto;
    text-align: center;
}

.logo img {
    width: 250px;
}

.search {
    padding: 12px;
    text-align: center;
}

.search input {
    width: 450px;
    border: none;
}

.search-wrapper {
    justify-content: space-between;
    display: flex;
    width: 550px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid var(--Alto);
    border-radius: 20px;
}

.search-icon-right {
    align-items: center;
    display: flex;
    padding: 0 10px;
    gap: 10px;
}

.search-icon,
.search-icon__keyboard,
.search-icon__mic {
    width: 20px;
    height: 20px;
}

.search-icon-left {
    align-items: center;
    display: flex;
    padding: 0 10px;
}

.buttons {
    text-align: center;
}

.buttons .button {
    margin: 12px 6px;
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.footer__links {
    justify-content: space-between;
    display: flex;
    padding: 10px 30px;
    background-color: var(--Concrete);
    border-top: 1px solid var(--Mercury);
}

.footer__links-item:not(:first-child) {
    padding-left: 30px;
}

.footer__links-item a {
    color: var(--Grey);
    font-size: var(--fs-regular);
    text-decoration: none;
}

.footer__country-information {
    width: 100%;
    padding: 10px 30px;
    color: var(--Grey);
    font-size: var(--fs-regular);
    background-color: var(--Concrete);
    border-top: 1px solid var(--Mercury);
}

.keyboard {
    width: 100%;
}

.keyboard__keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard__rows {
    flex: 0 0 100%;
}

.keyboard__keys {
    justify-content: center;
}
