*, *::before, *::after {
    box-sizing: border-box;
}

:root {
--Mercury: #e4e4e4;
--Concrete:  #f2f2f2;
--Grey: #808080;
--Malibu: #87cefa;
}

body {
    font-family: 'Roboto', Helvetica, Arial sans-serif;
    margin: 0;
}

/* Cookie banner */
.cookie-banner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Mercury);
    background-color: var(--Concrete);
    color: var(--Grey);
    font-size: 12px;
    padding: 4px 15px;  
    margin: 0;
}

.cookie-banner a {
    color: var(--Malibu);
    text-decoration: none;
}

.cookie-banner__close {
    cursor: pointer;
    background: none;
    border: 0;
    color: var(--Grey);
    padding-bottom: 20px;  
}

/* Search module */

.logo {
    text-align: center;
    margin: 0 auto;
    padding-top: 110px;
}

.logo img {
    width: 250px;
}
